{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
</head>
<body>
<h1>Список товаров</h1>

<div class="nav-buttons">
    {% if user.is_authenticated %}
        <span class="greeting">Привет, {{ user.username }}!</span>
        <a href="{% url 'logout' %}" class="button-link">Выход</a>
    {% else %}
        <a href="{% url 'login' %}" class="button-link">Вход</a>
        <a href="{% url 'register' %}" class="button-link">Регистрация</a>
    {% endif %}
</div>

{% if user.is_authenticated %}
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="{% url 'add_product' %}" class="button-link">Добавить товар</a>
    </div>
{% endif %}

<ul>
    {% for product in products %}
    <li>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p class="price">Цена: {{ product.price }}</p>
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="150">
        {% else %}
            <img src="{% static 'img/default.jpg' %}" alt="Нет изображения" width="150">
        {% endif %}
        {% if user.is_authenticated %}
        <form action="{% url 'add_to_cart' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Добавить в корзину</button>
        </form>
        {% else %}
        <p><em>Авторизуйтесь для добавления в корзину</em></p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
</body>
</html>